@charset "utf-8";
html{
	overflow-y:scroll;
} 
#footer {
height: 20px;
clear : both;
}
#foot_space {height:100px;}
a img, :link img, :visited img {
border : none;
}
#links {
text-align: center;
margin-top: 25px;

}

#links img {
border: solid 4px;
}
.three-nav {
	display: block;
	float: left;
	padding: 0;
	text-align: center;
	margin: 10px;
}

body {
text-align : center;
font-family : Helvetica, Tahoma, Arial, sans-serif;
font-size : 83%;
margin : 0;
padding : 0;
}
#container {
width : 718px;
text-align : center;
margin : 0 auto;
overflow: hidden;
}
#foot_space {height:100px;}
#header { text-align: center;}
#wrapper { -webkit-border-radius: 25px; -moz-border-radius: 25px; border: 3px solid #666; background: #FCFCFF; opacity: .9; text-align: left; clear: both;}
#main-content {
float : left;
display : inline;
width : 465px;
}
#sidebar {
float : right;
display : block;
width : 170px;
font-size : 83%;
line-height : 140%;
color : #3f3f3f;
padding-left : 10px;
margin : 0;
border-left: 1px solid #EEE; 
min-height: 325px;
}
#footer {
clear : both;
}
div#main-content {
line-height : 160%;
color : #333;
}

h1, h2, h3, h4, h5, h6, p.description {
font-family : Helvetica, Tahoma, Arial, sans-serif;
}
h1 {
font-size : 160%;
font-weight : bold;
color : #333;
background : url('http://seattlerowing.s3.amazonaws.com/images/tab-fill.gif') repeat-y left;
padding-left : 42px;
line-height : 0.7em;
padding-bottom : 0.05em;
margin-top : 2em;
}
h2 {
font-size : 160%;
font-weight : normal;
color : #333;
background : url('http://seattlerowing.s3.amazonaws.com/images/tab-fill.gif') repeat-y left;
padding-left : 42px;
line-height : 0.7em;
padding-bottom : 0.05em;
}
h3 {
font-size : 110%;
font-weight : bold;
color : #000096;
background : url('http://seattlerowing.s3.amazonaws.com/images/tab-fill.gif') repeat-y left;
padding-left : 42px;
line-height : 0.7em;
padding-bottom : 0.05em;
margin-top : 2em;
}
h4 {
font-size : 100%;
font-weight : bold;
color : #000096;
background : url('http://seattlerowing.s3.amazonaws.com/images/tab-fill.gif') repeat-y left;
padding-left : 42px;
line-height : 0.7em;
padding-bottom : 0.05em;
margin-top : 2em;
}
h5 {
font-size : 100%;
font-weight : bold;
color : #000096;
padding-left : 42px;
line-height : 0.7em;
padding-bottom : 0.05em;
margin-top : 2em;
}
h6 {
font-size : 100%;
font-weight : normal;
color : #000096;
padding-left : 42px;
line-height : 0.7em;
padding-bottom : 0.05em;
margin-top : 2em;
}
hr {
background : transparent;
height : 1px;
border : 0;
border-top : 1px solid #d6d7ff;
margin : 2em 42px !important ;
}
p, ul, ol, table, blockquote, hr, dl {
margin-left : 42px;
margin-right : 42px;
}
.three-nav a p {
margin-left : 2px;
margin-right : 2px;
}
a {
font-weight: bold;
text-decoration : none;
}
a:focus{
outline-style: none;
}
a:visited {
color : #666;
font-weight: bold;
text-decoration : none;
}
a strong {
color: #0000CC;
font-weight: bold;
}
ul, ol {
padding-left : 1.8em;
}
ul ul, ol ol {
margin-left : 0 !important ;
}

table {
border-collapse : collapse;
margin-top : 1em;
margin-bottom : 1em;
border-bottom : none;
}
table td, table th {
padding : 0.1em 0.6em;
vertical-align : top;
text-align : left;
}
table th {
border-bottom : 1px solid #000096;
border-top : 1px solid #000096;
color : #000096;
width : 100%;
}
table caption {
text-align : center;
font-weight : bold;
color : black;
padding : 0 42px;
}
#sidebar h1{
padding-left : 0;
font-weight : normal;
background : transparent;
line-height : 120%;
margin-top : 0.5em;
margin-bottom : 0.25em;
}
#sidebar h1 a{
font-weight:normal;
color: #333;
}
div#sidebar ul {
padding-left : 0;
list-style-type : none;
margin-left : 1em;
margin-top : 0;
font-size : 105%;
}
#load{
display: none;
position: absolute;
margin-right: auto;
background: url('ajax-loader.gif');
width: 43px;
height: 11px;
text-indent: -9999em;
}
img.ico{
vertical-align: bottom; margin-left: -20px;
}
emph{
font-style: italic;
}




